html, 

body {
    width: 100%;
    height: 100%;
    font-family: 'Courier New', sans-serif;
    margin: 0 auto;
}
@media screen {
    #floater {
        position: absolute;
        top: 100px;
        right: 1px;
        width: 100px;
        height: 100px;
        -webkit-transition: all 2s ease-in-out;
        transition: all 2s ease-in-out;
        z-index: 3;
    }
}
@media screen {
    #fltimg {
        height: 100%;
        width: 100%;  
    }
}
#header__more {
    border: 3px solid white;
    bottom: 10%;
    left: 50%;
    display: table;
    margin: 0 auto;
    /* -webkit-animation: shiftDown .5s ease .5s; */
    -moz-animation: shiftDown .5s ease .5s;
    animation: shiftDown .5s ease .5s;
    transition: all .2s ease-in-out;
}
.more {
    border-radius: 100%;
    cursor: pointer;
    display: block;
    font-weight: 1000;
    font-size: 41px;
    height: 70px;
    margin: 0 auto;
    line-height: 1.5em;
    width: 70px;
}
a.more{
    text-decoration: none;
}
a.more:hover{
    border: 4px solid black;
    color: white;
    font-weight: 1000;
    transform: scale(1.2);
}
a.header__more:hover{
    color: black;
    border: 4px solid black;
}
#logo {
    top: -10px;
    height: 40px;
    width: 40px;
    position: relative;
}
#logo img {
    height: 100%;
    width: 100%;    
}
#logo:hover{
    background-image: "../images/logo2.png";
    height: 40px;
    width: 40px;
    position: relative;
}
#name {
    top: -15px;
    height: 30px;
    width: 180px;
    position: relative;
}
#name img {
    height: 100%;
    width: 100%;    
}
#navbar #sm1 {
    height: 40px;
    width: 40px;
    position: relative;
}
#navbar #sm1 img {
    height: 100%;
    width: 100%;
}
#navbar #sm2 {
    height: 40px;
    width: 40px;
    position: relative;
}
#navbar #sm2 img {
    height: 100%;
    width: 100%;  
    
}#navbar #sm3 {
    height: 40px;
    width: 40px;
    position: relative;
}
#navbar #sm3 img {
    height: 100%;
    width: 100%;
}    
#navbar #sm4 {
    height: 40px;
    width: 40px;
    position: relative;
}
#navbar #sm4 img {
    height: 100%;
    width: 100%;    
}
#name2{
    top: -35px;
    color: black;   
}
#self-portrait {
       top: -35px;
    color: black;
}
#projects {
       top: -35px;
    color: black;
}
#awards {
    color: black;
}
#organizations {
    color: black;
}
#resume {
    color: black;
}
#button_home {
    color: black;
}

div.description {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

div.content {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 0%;
    background-color: #262424;
}
div.content_main {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 0%;
}
img.main-img {

    width: 100%;
    text-align: center;
    border: 4px solid black;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

a {
    color: white;
    padding-bottom: 3px;
    text-decoration: blink;
}

a.subtext {
    font-weight: none;
}

h1.name {
    font-weight: normal;
    font-family: 'Courier New', sans-serif;
    letter-spacing: 4px;
    font-size: 5.5em;
    padding: 0px;
    margin: auto;
    margin-top: 50px;
    color: white;
}
h3.subtext {
    font-weight: normal;
    letter-spacing: 2px;
    width: 100%;
    font-size: 2.0em;
    max-width: 600px;
    margin: auto;
    font-weight: none;
    color: white;
}

h4 {
    font-size:26px;
    color: white;
    font-family: 'Courier New', sans-serif;
    font-weight: 300;
    font-weight: bold;
    text-align: center;
}
h5 {
    color: black;
    font-family: 'Courier New', sans-serif;
    font-size:20px;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 6px;
}
h6{
    color: #777;
    font-family: 'Courier New', sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
#special{
    text-decoration: none;
}
#special:hover{
    color:black;
}
h6:hover{
    color:black;
}
.image {
    height: 900px;
    width: 100%;
    background: #55e6c5;
    z-index: 1;
    }

.mouse_over
{
    -webkit-transition:opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity:0.83;
    width: 380px;
    height:190px;
    max-width: 90%;
}

.mouse_over:hover
{
    max-width: 90%;
    opacity:1;
}

.spacing{
    height:100px;
}
a{
    text-decoration: underline;
    text-decoration: white;
}
a:hover{
    /* font-weight: bold; */
}
.expanding{
    transition:width 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out;
    width:120px;
    height:120px;
    background-color: white;
}

.expanding:hover{
    width:300px;
    height:120px;
    background-color: white;
}
#wall_1 {
    background: url(images/https://www.dropbox.com/s/t1au8707j2co0cl/background.png?raw=1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
}
#wall_2 {
    background: url(https://www.dropbox.com/s/k07rkl4aermyz5m/swirl_patterng?raw=1) repeat;
    background-attachment: fixed;
    max-width: 100%;
    height:700px;
    position: relative;
}
#wall_3 {
    background: url(https://www.dropbox.com/s/5arod17p674ipn0/transfer3.png?raw=1) no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    height:750px;
    position: relative;
}
#wall_4 {
    background: url(https://www.dropbox.com/s/h064kurt3qk9usq/Accomplishments1.jpg?raw=1) no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    height:700px;
    position: relative;
}
#wall_5 {
    background: url(https://www.dropbox.com/s/7sok3q55zwtf4lx/foamswordfriday.png?raw=1) no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    max-width: 100%;
    height:750px;
    position: relative;
}
#content_1 {
    position: relative;
}
#content_2 {
    position: relative;
    width: 30%;
    margin: 0 auto;
    padding: 0.725em 0.725em;
    padding-bottom: 150px;
}
#content_3 {
  position: relative;
  width: 30%;
  margin: 0 auto;
  padding: 0.725em 0.725em;
  padding-bottom: 100px;
}

.special{
     padding-top: 20px;
     padding-bottom: 20px;
}
#content_4 {
    /* position: relative; */
    width: 10%;
    margin: 0 auto;
    padding: 0.725em 0.725em;
    padding-bottom: 100px;
    }
#content_5 {
    position: relative;
    width:30%;
    margin: 0 auto;
    padding: 0.725em 0.725em;
    }
.content p {
    font-size: 20px;
    color: white;
    font-family: 'Courier New', sans-serif;
    font-weight: 300;
    text-align: center;
    }

    /* ---- particles.js container ---- */
#trianglify {
  z-index: -1;
}
#particles-js{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box;
}
.card-wrapper {
    padding: 20px;
}
#subsection {
    text-align: center;
    /* border-style: solid; */
    /* border-width: medium; */
    border-top: 22px double white;
    /* border-bottom: thick double white; */
    vertical-align: middle;
    padding-bottom: 0%;
    padding-top: 120px;
    background-color: #262424;
    /* border-color: white; */
    padding-bottom: 30px;
}
h3.subtext{
    font-size: 70px;
    /* text-decoration: none; */
    underline: none;
}
a.subtext{
    underline: none;
}
h3.splashpage{
    font-weight: normal;
    letter-spacing: 2px;
    width: 100%;
    font-size: 2.0em;
    max-width: 600px;
    margin: auto;
    font-weight: none;
    color: white;
}
.subtext a:hover{
    color: white;
    text-decoration: none;
}
.subtext a{
  text-decoration:none;
  font-weight: 400;
}
.landingpage ul {
    list-style: none;
    padding: 0;
    margin: 20px auto 20px;
    width: 600px;
}
.landingpage li{
    height: 50px;
    width: 50px;
    margin: 0 30px;
    background: #e4e4e4;
    border-radius: 40px;
    display: inline-block;
    transition: all .2s ease-in-out;
}
.landingpage li:hover {
  transform: scale(1.7);
}
.landingpage li img{
      height: auto;
    max-width: 100%;
}
.image-cropper{
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.rounded img{
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}
@media (max-width:801px){
  h3.subtext{
    font-size: 32px;
  }
  h1.name {
    margin-top: 70px;
    font-size: 4em;
  }
  .mouse_over{
    width: 380px;
    height: 140px;
    }
.landingpage ul {
    list-style: none;
    padding: 0;
    margin: 40px auto 20px;
    width: 300px;
}
.landingpage li{
    height: 40px;
    width: 40px;
    margin: 0 10px;
    background: #e4e4e4;
    border-radius: 40px;
    display: inline-block;
    transition: all .2s ease-in-out;
}
}
