html, 

body {
    width: 100%;
    height: 100%;
    font-family: 'Courier New', sans-serif;
    margin: 0 auto;
}

#logo {
    top: -5px;
    height: 34px;
    width: 34px;
    position: relative;
}
#logo img {
    height: 100%;
    width: 100%;    
}
#logo:hover{
	background-image: "../images/logo2.png";
    height: 34px;
    width: 34px;
    position: relative;
}
#name {
    top: -15px;
    height: 30px;
    width: 180px;
    position: relative;
}
#name img {
    height: 100%;
    width: 100%;    
}
#navbar #sm1 {
    height: 40px;
    width: 40px;
    position: relative;
}
#navbar #sm1 img {
    height: 100%;
    width: 100%;
}
#navbar #sm2 {
    height: 40px;
    width: 40px;
    position: relative;
}
#navbar #sm2 img {
    height: 100%;
    width: 100%;  
	
}#navbar #sm3 {
    height: 40px;
    width: 40px;
    position: relative;
}
#navbar #sm3 img {
    height: 100%;
    width: 100%;
}    
#navbar #sm4 {
    height: 40px;
    width: 40px;
    position: relative;
}
#navbar #sm4 img {
    height: 100%;
    width: 100%;    
}
#name2{
    top: -35px;
    color: black;   
}
#self-portrait {
       top: -35px;
	color: black;
}
#projects {
       top: -35px;
	color: black;
}
#awards {
	color: black;
}
#organizations {
	color: black;
}
#resume {
	color: black;
}
#button_home {
    color: black;
}

div.description {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

div.content {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 0%;
	background-color: #262424;
}
div.content_main {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 0%;
}
img.main-img {

    width: 100%;
    text-align: center;
    border: 4px solid black;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

a {
    color: white;
    padding-bottom: 3px;
    text-decoration: blink;
}

.subtext a {
    font-weight: none;
}

h1.name {
    font-weight: normal;
	font-family: 'Courier New', sans-serif;
    letter-spacing: 2px;
	font-size: 80px;
    padding: 0px;
    margin: 0px;
	font-weight: default;
    color: white;
}
h3.subtext {
    font-weight: normal;
    font-size: 30px;
    margin: auto;
	font-weight: bold;
    color: white;
}

h4 {
    font-size:26px;
    color: white;
    font-family: 'Courier New', sans-serif;
    font-weight: 300;
	font-weight: bold;
    text-align: center;
}
h5 {
    color: black;
    font-family: 'Courier New', sans-serif;
	font-size:20px;
	letter-spacing: 1px;
    font-weight: bold;
    padding: 6px;
}
.image {
    height: 900px;
    width: 100%;
    background: #55e6c5;
    z-index: 1;
    }

.mouse_over
{
	-webkit-transition:opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	opacity:0.83;
	width:400px;
	height:200px;
}

.mouse_over:hover
{
	opacity:1;
}

.spacing{
	height:100px;
}
a{
    text-decoration: underline blue;
}
a:hover{
    color: blue;
}
.expanding{
	transition:width 0.3s ease-in-out;
	-webkit-transition: width 0.3s ease-in-out;
	width:120px;
	height:120px;
	background-color: white;
}

.expanding:hover{
	width:300px;
	height:120px;
	background-color: white;
}
#wall_1 {
    background: url(images/https://www.dropbox.com/s/t1au8707j2co0cl/background.png?raw=1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
}
#wall_2 {
    background: url(https://www.dropbox.com/s/k07rkl4aermyz5m/swirl_patterng?raw=1) repeat;
    background-attachment: fixed;
    max-width: 100%;
    height:700px;
    position: relative;
}
#wall_3 {
    background: url(https://www.dropbox.com/s/5arod17p674ipn0/transfer3.png?raw=1) no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    height:750px;
    position: relative;
}
#wall_4 {
    background: url(https://www.dropbox.com/s/h064kurt3qk9usq/Accomplishments1.jpg?raw=1) no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    height:700px;
    position: relative;
}
#wall_5 {
    background: url(https://www.dropbox.com/s/7sok3q55zwtf4lx/foamswordfriday.png?raw=1) no-repeat;
	background-size: 100%;
    background-attachment: fixed;
    max-width: 100%;
    height:750px;
    position: relative;
}
#content_1 {
    position: relative;
}
#content_2 {
    position: relative;
    width: 30%;
    margin: 0 auto;
    padding: 0.725em 0.725em;

}
#content_3 {
  position: relative;
  width: 30%;
  margin: 0 auto;
  padding: 0.725em 0.725em;
}

.special{
	 padding-top: 20px;
	 padding-bottom: 20px;
}
#content_4 {
	position: relative;
	width:30%;
    margin: 0 auto;
    padding: 0.725em 0.725em;
	}
#content_5 {
	position: relative;
	width:30%;
	margin: 0 auto;
	padding: 0.725em 0.725em;
	}
.content p {
    font-size:18px;
    color: white;
    font-family: 'Courier New', sans-serif;
    font-weight: 300;
	text-align: center;
	}

	/* ---- particles.js container ---- */
#trianglify {
  z-index: -1;
}
#particles-js{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box;
}
.card-wrapper {
    padding: 10px;
}