div.content {
    text-align: center;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 10%;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Courier New', sans-serif;
	font-size: 100%;
    padding: 0px;
}

div.description {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

img.main-img {
    border-radius: 50%;
    max-height: 300px;
    width: 90%;
    max-width: 300px;
    text-align: center;
    border: 4px solid white;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.clouds {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

[class^="cloud-"] {
	position: absolute;
	right: 120%;
	width: 200px;
  height: 60px;
	background: #fff;
	-webkit-border-radius: 200px;
	        border-radius: 200px;
}

[class^="cloud-"]:before,
[class^="cloud-"]:after {
	content: '';
	position: absolute;
  top: -15px;
  left: 10px; 
	width: 100px;
  height: 80px;
	background: #fff;
  -webkit-border-radius: 100px;
	        border-radius: 100px;
	-webkit-transform: rotate(30deg);
     -moz-transform: rotate(30deg);
	        transform: rotate(30deg);
}

[class^="cloud-"]:after {
  top: -55px;
  left: auto;
  right: 15px;
	width: 120px;
  height: 120px;
}

.cloud-1 {
	top: 50px;
	-webkit-animation: moveclouds 30s linear infinite;
	   -moz-animation: moveclouds 30s linear infinite;
	     -o-animation: moveclouds 30s linear infinite;
	        animation: moveclouds 30s linear infinite;
}

.cloud-2 {
	top: 100px;
  opacity: 0.9;
  -webkit-transform: scale(0.8);
	   -moz-transform: scale(0.8);
	        transform: scale(0.8);
	-webkit-animation: moveclouds 45s linear infinite;
	   -moz-animation: moveclouds 45s linear infinite;
	     -o-animation: moveclouds 45s linear infinite;
	     	  animation: moveclouds 45s linear infinite;
	-webkit-animation-delay: 5s;
     -moz-animation-delay: 5s;
          animation-delay: 5s;
}

.cloud-3 {
	top: 150px;
  opacity: 0.9;
  -webkit-transform: scale(1.5);
	   -moz-transform: scale(1.5);
	        transform: scale(1.5);
	-webkit-animation: moveclouds 40s linear infinite;
	   -moz-animation: moveclouds 40s linear infinite;
	     -o-animation: moveclouds 40s linear infinite;
	        animation: moveclouds 40s linear infinite;
}

.cloud-4 {
	top: 200px;
  opacity: 0.75;
  -webkit-transform: scale(0.75);
	   -moz-transform: scale(0.75);
	        transform: scale(0.75);
	-webkit-animation: moveclouds 26s linear infinite;
	   -moz-animation: moveclouds 26s linear infinite;
	     -o-animation: moveclouds 26s linear infinite;
	        animation: moveclouds 26s linear infinite;
	-webkit-animation-delay: 8s;
     -moz-animation-delay: 8s;
          animation-delay: 8s;
}
.cloud-5 {
	top: 510px;
  opacity: 0.3;
  -webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
	        transform: scale(1.1);
	-webkit-animation: moveclouds 16s linear infinite;
	   -moz-animation: moveclouds 16s linear infinite;
	     -o-animation: moveclouds 16s linear infinite;
	        animation: moveclouds 16s linear infinite;
	-webkit-animation-delay: 10s;
     -moz-animation-delay: 10s;
          animation-delay: 10s;
}

.cloud-6 {
	top: 430px;
  opacity: 0.5;
  -webkit-transform: scale(0.7);
	   -moz-transform: scale(0.7);
	        transform: scale(0.7);
	-webkit-animation: moveclouds 43s linear infinite;
	   -moz-animation: moveclouds 43s linear infinite;
	     -o-animation: moveclouds 43s linear infinite;
	        animation: moveclouds 43s linear infinite;
	-webkit-animation-delay: 5s;
     -moz-animation-delay: 5s;
          animation-delay: 5s;
}

.cloud-7 {
	top: 10px;
	-webkit-animation: moveclouds 30s linear infinite;
	   -moz-animation: moveclouds 30s linear infinite;
	     -o-animation: moveclouds 30s linear infinite;
	        animation: moveclouds 30s linear infinite;
}

.cloud-8 {
	top: 80px;
  opacity: 0.8;
  -webkit-transform: scale(0.8);
	   -moz-transform: scale(0.8);
	        transform: scale(0.8);
	-webkit-animation: moveclouds 55s linear infinite;
	   -moz-animation: moveclouds 55s linear infinite;
	     -o-animation: moveclouds 55s linear infinite;
	     	  animation: moveclouds 55s linear infinite;
	-webkit-animation-delay: 6s;
     -moz-animation-delay: 6s;
          animation-delay: 6s;
}

.cloud-9 {
	top: 350px;
  opacity: 0.7;
  -webkit-transform: scale(1.7);
	   -moz-transform: scale(1.7);
	        transform: scale(1.7);
	-webkit-animation: moveclouds 45s linear infinite;
	   -moz-animation: moveclouds 45s linear infinite;
	     -o-animation: moveclouds 45s linear infinite;
	        animation: moveclouds 45s linear infinite;
}

.cloud-10 {
	top: 400px;
  opacity: 0.4;
  -webkit-transform: scale(1.9);
	   -moz-transform: scale(1.9);
	        transform: scale(1.9);
	-webkit-animation: moveclouds 16s linear infinite;
	   -moz-animation: moveclouds 16s linear infinite;
	     -o-animation: moveclouds 16s linear infinite;
	        animation: moveclouds 16s linear infinite;
	-webkit-animation-delay: 8s;
     -moz-animation-delay: 8s;
          animation-delay: 8s;
}
.cloud-11 {
	top: 100px;
  opacity: 0.7;
  -webkit-transform: scale(0.75);
	   -moz-transform: scale(0.75);
	        transform: scale(0.75);
	-webkit-animation: moveclouds 33s linear infinite;
	   -moz-animation: moveclouds 33s linear infinite;
	     -o-animation: moveclouds 33s linear infinite;
	        animation: moveclouds 33s linear infinite;
	-webkit-animation-delay: 14s;
     -moz-animation-delay: 14s;
          animation-delay: 14s;
}

.cloud-12 {
	top: 270px;
  opacity: 0.7;
  -webkit-transform: scale(1.2);
	   -moz-transform: scale(1.2);
	        transform: scale(1.2);
	-webkit-animation: moveclouds 10s linear infinite;
	   -moz-animation: moveclouds 10s linear infinite;
	     -o-animation: moveclouds 10s linear infinite;
	        animation: moveclouds 10s linear infinite;
	-webkit-animation-delay: 16s;
     -moz-animation-delay: 16s;
          animation-delay: 16s;
}
@-webkit-keyframes moveclouds {
	0%   { right: -20%; }
	100% { right: 120%; }
}
@-moz-keyframes moveclouds {
	0%   { right: -20%; }
	100% { right: 120%; }
}
@-o-keyframes moveclouds {
	0%   { right: -20%; }
	100% { right: 120%; }
}