/************************
 * Commone styles
 ************************/

.by-button {
    display: inline-block;
    border-radius: 2px;
    position: relative;
    padding: 0;
    margin-right: .1em;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    overflow: visible; /* the overflow property removes extra width in IE */
    outline: none;
    font-family: Helvetica, Arial, sans-serif;
}

/*button text element */


.by-button.by-button-primary {
    color: #FFF;
    border: 1px solid #DD4B39;
    background: -moz-linear-gradient(top, #DD4B39 0%, #D14836 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DD4B39), color-stop(100%,#D14836)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #DD4B39 0%, #D14836 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, #DD4B39 0%, #D14836 100%); /* W3C */
}
.by-button.by-button-primary.by-state-hover, .by-button.by-button-primary:hover {
    color: #FFF;
    border: 1px solid #B0281A;
    background: -moz-linear-gradient(top, #DD4B39 0%, #C53727 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DD4B39), color-stop(100%, #C53727)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #DD4B39 0%, #C53727 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, #DD4B39 0%, #C53727 100%); /* W3C */
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.by-button.by-button-primary.by-state-active, .by-button.by-button-primary:active {
    color: #FFF;
    border: 1px solid #B0281A;
    background: -moz-linear-gradient(top, #C53727 0%, #DD4B39 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C53727), color-stop(100%, #DD4B39)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C53727 0%, #DD4B39 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, #C53727 0%, #DD4B39 100%); /* W3C */
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.by-button.by-button-secondary {
    color: #FFF;
    border: 1px solid #3682EA;
    background: -moz-linear-gradient(top, #4D90FE 0%, #4787ED 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4D90FE), color-stop(100%, #4787ED)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4D90FE 0%, #4787ED 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, #4D90FE 0%, #4787ED 100%); /* W3C */
}
.by-button.by-button-secondary.by-state-hover, .by-button.by-button-secondary:hover {
    color: #FFF;
    border: 1px solid #2F5BB7;
    background: -moz-linear-gradient(top, #4D90FE 0%, #357AE8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4D90FE), color-stop(100%, #357AE8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4D90FE 0%, #357AE8 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, #4D90FE 0%, #357AE8 100%); /* W3C */
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.by-button.by-button-secondary.by-state-active, .by-button.by-button-secondary:active {
    color: #FFF;
    border: 1px solid #2F5BB7;
    background: -moz-linear-gradient(top, #357AE8 0%, #4D90FE 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #357AE8), color-stop(100%, #4D90FE)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #357AE8 0%, #4D90FE 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, #357AE8 0%, #4D90FE 100%); /* W3C */
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.by-button {
    color: #444;
    border: 1px solid #CCC;
    background: -moz-linear-gradient(top, #F5F5F5 0%, #F1F1F1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F5F5F5), color-stop(100%, #F1F1F1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F5F5F5 0%, #F1F1F1 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, #F5F5F5 0%, #F1F1F1 100%); /* W3C */
}
.by-button.by-state-hover, .by-button:hover {
    color: #2D2D2D;
    border: 1px solid #C6C6C6;
    background: -moz-linear-gradient(top, #F5F5F5 0%, #E0E0E0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F5F5F5), color-stop(100%, #E0E0E0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F5F5F5 0%, #E0E0E0 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, #F5F5F5 0%, #E0E0E0 100%); /* W3C */
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.by-button.by-state-active, .by-button:active {
    color: #444;
    border: 1px solid #C6C6C6;
    background: -moz-linear-gradient(top, #E0E0E0 0%, #F5F5F5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E0E0E0), color-stop(100%, #F5F5F5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #E0E0E0 0%, #F5F5F5 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, #E0E0E0 0%, #F5F5F5 100%); /* W3C */
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.by-button .by-button-text { display: block; line-height: 1.4; font-weight: bold; padding: .4em 1em; }
/* no icon support for input elements, provide padding by default */
input.by-button { padding: .4em 1em; }

/* workarounds */
button.by-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */

/************************/

#b4g_menu
{
    position:absolute;
    padding:3px;
    margin-top:0px;
    margin-left:0px;
    border-style:none;
    background-color:#f7f7f7;
    font-family:helvetica, arial, sans-serif;
    font-size:12px;
    z-index:999;
    list-style:none;
}

#b4g_menu ul li
{
    display: inline;
}

#b4g_menu ul
{
    margin-left:-25px;
    margin-right:5px;
    float:left;
}

.b4g-state-selected { background: #EEEEEE; }

.b4g-time-list-title {
    margin: 0px;
    font-weight: bold;
    font-size: 12px;
}

.divide-below
{
    border-bottom:1px solid #dcdcdc;
    padding-bottom:5px;
    margin-bottom:5px;
}

.random
{
    display:none;
}

.tree-deselect:before
{
    content: url("tree-plus.png");
}

.tree-select:before
{
    content: url("tree-minus.png");
}

.menu-title
{
    border-bottom:1px solid #cccccc;
    display:block;
    margin-bottom:-15px;
}

.menu-footer
{
    text-align:center;
    margin-top:100px;
}

a.menu-anchor
{
    text-decoration:none;
    color:black;
    padding-left:2px;
    padding-right:2px;
    display:block;
    cursor:pointer;
}

a.menu-anchor:hover
{
    background-color:#bbdafd;
}

a.management:visited
{
    color:#00c;
}

.overlay
{
    position:absolute;
    left:0px;
    top:0px;
    width:99%;
    height:100%;
    z-index:1000;
}
.dialog-content
{
    width:90%;
    height:90%;
    border:none;
    padding-top:15px;
    padding-left:15px;
    padding-bottom:20px;
    font-size:12px;
}
#dialog
{
    width:280px;
    margin:200px auto;
    border:2px solid #6799de;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    background-color:#ffffff;
}
.dialogdiv{
     padding: 18px;
}
#title-bar
{
    width:100%;
    height:25px;
    -moz-border-radius-topleft:1px;
    -moz-border-radius-topright:1px;
    -webkit-border-top-left-radius:1px;
    -webkit-border-top-right-radius:1px;
    background-color:#e0ecfd;
    font-weight: bold;
    text-align:center;
    vertical-align:text-bottom;
    color:#333;
    padding-top:4px;
    font-size:14px;
}
#close-button
{
    margin-right:15px;
    cursor:pointer;
    font-family:arial;
    float:right;
}

div#b4g-custom-time-entry-date-preview-div{
    min-height: 15px;
}

.customize_b4g_header {
    font-weight: bold;  padding-bottom: 6px; font-size: 14px;
}
.customize_menu_samples{
    font-style: italic;
    font-size: 11px;
    color: green;
    padding: 5px 10px;
}
#b4g_user_menu_option_list{
    padding-left: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    display: block;
    overflow-y: auto;
}
.b4g-time-option{
    color: #333;
    font-size: 13px;
}
#customize_b4g_custom_menu_options{
    float: left;
    max-width: 220px;
}
#customize_b4g_default_menu_options{
    float: right;
    max-width: 140px;
}
#custom-b4g-container > h3{
    margin: 0px;
    padding-bottom: 15px;
}
#b4g-used-slot-indicator {
    font-weight: normal;
    color: green;
    padding-left: 18px;
    font-size: 12.96px;
    display: block;
    visibility: hidden;
}
#b4g-custom-time-input-form{
    max-width: 220px;
    min-height: 47px;
}
#b4g-custom-time-input-form > input{
    line-height: 16px;
}
.b4g-ui-dialog-buttonpane.b4g-ui-widget-content.b4g-ui-helper-clearfix > .b4g-ui-dialog-buttonset {
    display: inline-block;
    padding-top: 5px;
}
.customize_menu_samples{
    color: #999;
    padding: 6px 2px 2px 2px;
}
.b4g-custom-time-entry {
    margin: 4px;
}
.b4g-custom-time-entry-wrapper{
    list-style: none;
    padding: 2px 0px;
    margin-bottom: 4px;
    float: left;
    clear: both;
    background-color: #EEEEEE;
}

#boomerangSendWidget
{
    font-size:12px;
}
.b4g-bulk-close{
    text-align: right;
}
/** nag screen css */
.b4g-button{
    cursor:pointer;
    display:inline-block;
    font-size:1em;
    font-weight:bold;
    margin:5px 10px 20px 20px;
    outline:none;
    padding:5px 20px;
    width:auto;
    text-align:center;
    text-decoration:none !important;
    vertical-align:middle;
    background: #f5f5f5;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #F1F1F1);
    color:#444;
    border:1px solid #dcdcdc;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
}
.b4g-button:disabled {
    opacity: 0.5;
}
body.ie7 .b4g-button, body.ie8 .b4g-button {
    zoom:1;
    display:inline;
}

.b4g-upgradenag-dialog .b4g-button { margin: 0 0 0 5px; }
.b4g-upgradenag-dialog .b4g-button:first-child { margin: 0; }
.b4g-upgradenag-dialog .b4g-ui-dialog-buttonset { margin: 0 18px 18px 18px; text-align: center; }

/* Green Button */
.b4g-button.green {
    background:#518f14;
    border:1px solid #468902;
    color:#FFFFFF;
    text-shadow:0 -1px 0 #406f11;
    font-size: 1em;
}
.b4g-button.green:hover, .b4g-button.green:active {
    background:#417f02;
}


/* Red Button */
.b4g-button.red {

    background: -webkit-gradient(linear,0% 40%,0% 70%,from(whiteSmoke),to(#F1F1F1));
    font-weight: bold;
    background:#d64936;
    border:1px solid #d32d17;
    color:#FFFFFF;
    text-shadow:0 -1px 0 #d32d17;
    font-size: 1em;
}
.b4g-button.red:not([disabled]):hover, .b4g-button.red:not([disabled]):active {
    background:#B0281A;
}
.b4g-button.red:disabled:hover, .b4g-button.red:disabled:active {
  background:#d64936; /* the :not([disabled]) selector is overridden by meetings.css */
  cursor: default;
}

/* blue button */
.b4g-button.blue{
    color: #fff;
    border: 1px solid #3079ed;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top, #4d90fe, #4784ed);
    font-size: 1em;
    margin-bottom: 20px;
}

.b4g-button.blue.b4g-custom-menu-update-button{
    margin-left: 18px;
}

.b4g-button.dialog-gray{
    font-size: 1em;
}

#___plusone_0{
    width: 76px !important;
    height: 18px !important;
}
#tweet-button{
    margin-left:10px;
}
.welcomeDialog .b4g-ui-dialog-titlebar {
    display:none;
}
#wc_screen{
    font-family:helvetica, arial, sans-serif;
    color: #333;
}
.wc_header{
    font-size: 26px;
    text-align: center;
    margin: 20px;
}
.wc_text{
    font-size: 18px;
    text-align:center;
}
.wc_img{
    background-color: #eaf2fb;
    margin: 25px;
    height: 275px;
    padding: 5px 20px 0px 20px;
}
.wc_screenshot{

}
a.wc_video_link {
    text-decoration: none;
    color: #666;
    margin-left: 10px;
    margin-right: 5px;
    outline:none;
}
.wc_pg_no{
    margin-left: 15px;
    color: #999;
    font-size: 14px;
}
.startButton{
    margin-left: 450px;
}
.previousButton{
    margin-left: 348px;
}
.last{
    margin-left:352px;
}

#recurring_dialog{
    padding: 15px 15px 5px 15px;
    font-size: 13px;
}
.recurring_field{
    padding: 10px 15px;
}
.recurring_right_col{
    position: absolute;
    left: 130px;
}

.recurring_right_col #end_date { margin-right: 5px; }
.recurring-row-title { font-size: 13px; }

#start_date_input{
    margin-right: 5px;
    padding-right: 23px;
}
#start_time{
    margin-left: 15px;
}
.recurringDialog .b4g-ui-dialog-titlebar {
    font-size: 14px;
}
.b4g-no-title .b4g-ui-dialog-titlebar {
    display:none;
}
#recurring_header{
    font-size: 1.5em;
    color: #333;
    font-family: helvetica, arial, sans-serif;
    margin: 20px 0 20px 0px;
}
#recurring_feedback{
    font-weight: bold;
    color: green;
}
.day_cb{
    margin-left: 12px;
}
.b4g-button-container {
    margin-top: 28px;
}
#cancel_recurring{
    text-shadow: none;
    font-size: 1em;
}
/* bulk boomerang styling */
.bulkStatus{
    font-weight: bold;
    padding-left: 15px;
}
.bulkStatus.error{
    color: #dc4b39;
}
.bulkStatus.success{
    color: green;
}
.bulkStatus.waiting, .bulkStatus.processing{
    color: gray;
}
.bulkldialogHeader{
    font-size: 1.8em;
    text-align: center;
    margin-top: 10px;
}
.bulkdialogReturnDate{
    padding: 7px;
    text-align: center;
    background-color: #ffffcc;
    margin: 10px;
    font-weight: bold;
}
tr.error{
    border: solid 2px red;
}
.bulk .b4g-ui-dialog-buttonset{
    margin-left: 85%;
}
.bulkAddress{
    padding: 0px 10px;
    max-width: 170px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.bulkSubject{
    max-width: 380px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.bulkRetry.b4g-button{
    margin: 0px;
}

/******************************
 * Click/Open tracking FTUE
 ******************************/

.b4g-tooltip-ftue {
    position: absolute;
    background: #FFF;
    border: 1px solid #B7B7B7;
    color: #333;
    padding: 20px;
    z-index: 100;
}

.b4g-tooltip-ftue .b4g-ftue-content { font-size: .8em; }
.b4g-tooltip-ftue .b4g-ftue-content h3 { margin-top: 0; }
.b4g-tooltip-ftue .b4g-ftue-content ol { padding-left: 20px; }
.b4g-tooltip-ftue .b4g-ftue-content li { margin: 3px 0; }

.b4g-tooltip-ftue .b4g-ftue-button { margin-top: 10px; cursor: pointer; line-height: inherit; }

.b4g-tooltip-ftue .b4g-ftue-pointer.b4g-pointer-lr {
    position: absolute;
    border: 10px solid transparent;
    border-top: 10px solid #999;
    border-bottom: 0px;
    bottom: -11px;
    right: 12px;
}
.b4g-tooltip-ftue .b4g-ftue-pointer.b4g-pointer-lr::after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-top: 10px solid white;
    top: -11px;
    left: -10px;
}

.b4g-tooltip-ftue .b4g-ftue-pointer.b4g-pointer-ur {
    position: absolute;
    border: 10px solid transparent;
    border-left: 10px solid #999;
    border-right: 0px;
    top: 11px;
    right: -11px;
}
.b4g-tooltip-ftue .b4g-ftue-pointer.b4g-pointer-ur::after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-left: 10px solid white;
    top: -10px;
    right: -9px;
}

/***********
**credit card expiring notification
*****/
#billing_expired_snooze, #billing_expired_downgrade{
    color: #15C;
    margin-left: 30px;
    cursor: pointer;
}

#notes_toggle {
    cursor: pointer;
    margin-bottom: -5px;
}

#referral_dialog { margin: 18px 0; }
#referral_dialog .b4g-button { margin: 0; }
#referral_dialog .referral-gplus { /* overriding all inline styles */
    display: inline-block;
    width: 88px;
    height: 24px;
    line-height: 24px;
    vertical-align: middle;
    text-align: left;
    margin-left: 0;
}

#referral_dialog + div > .closeLink { font-style: italic; color: #777; }

.referral-share-options { margin: 36px 0; text-align: center; }
.referral-share-options span { line-height: 24px; display: inline-block; margin: 0 6px; color: #777; }


/******************
 * Viral hooks
 ******************/
.b4g-viral-hook {
    position: absolute;
    top: -400px;
    z-index: 10;
    background: white;
    border: 1px solid #C4C4C4;
    box-shadow: 3px 3px 5px #AAA;
    left: 50%;
    width: 450px;
    margin-left: -300px;
    padding: 15px 15px 15px 130px;
}
.b4g-viral-logo { position: absolute; top: 50%; left: 25px; margin-top: -26px; }
.b4g-viral-content { text-align: center; padding: 0 20px; color: #444; }
.b4g-viral-dialog-message { margin-top: 0; font-weight: bold; }
.b4g-viral-share-options { list-style-type: none; margin: 0; padding: 0; }
.b4g-viral-share-options li { display: inline-block; margin-right: 10px; font-size: 0; width: 92px; }
.b4g-viral-share-options li:last-child { margin-right: 0; }
.b4g-viral-close {
    position: absolute;
    top: 6px;
    right: 8px;
    display: block;
    width: 20px;
    height: 20px;
    background: url(../viral-hook/close.png) center center;
}

/****************************
* Multi-Friend Dialog
****************************/
.dialogdiv.multi-friend { border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;  }
.b4g-ui-dialog.multi-friend { background: #fff; font-family: Helvetica,Arial,sans-serif; padding: 0; margin: 0; border: none; }
.multi-friend > .b4g-ui-dialog-titlebar { border: none; background: #f8f8f8; color: #53aad7;  padding: 3px 8px; font-size: 14px; }
.multi-friend > .b4g-ui-dialog-content { padding: 0; margin: 0; border-top: 1px solid #bbbbbb; }

#multi-friend-list { padding: 8px 20px; overflow: auto; height: 300px; max-height: 320px; }

.b4g-ui-widget input[type=text].multi-friend-search {
    margin: 2px 0 5px 0;
    border: 1px solid #cccccc;
    font-size: 16px;
    width: 100%;
    padding: 2px 10px;
    border-radius: 8px;
    -moz-border-radius: 8px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.multi-friend-list-item { font-size: 14px; padding: 3px 0; }
.multiFriendCheck { margin: 3px 10px 3px 0.5ex; }
.multi-friend-lower-portion { display: block; border-top: 1px solid #bbbbbb; font-size: 14px; background: #f8f8f8; padding: 15px 20px; }

#multi-friend-nag { width: 100%; background: #E2C214; padding: 10px 20px; color: black; text-align: center; font-size: 16px; }
.multi-friend-close-nag { position: absolute; right: 20px; height: 30px; width: 30px; border: none; background: url("/site_media/bookmarklet/delete.png") no-repeat center; cursor: pointer; vertical-align: middle;}.multi-friend-close-nag:hover { background-color: rgba(0,0,0,0.1); }

/******************
 * Inline Manage
 ******************/

.b4g-inline-popup { position: absolute; z-index: 999; font-size: 12px; box-shadow: 0 2px 4px rgba(0,0,0,0.2); }

.b4g-inline-manage button { font-family: helvetica, arial, sans-serif; }

.b4g-inline-manage {
    background: url("../inline-manage/boomlogo44x24.png") 15px 19px #F5F5F5 no-repeat;
    background-size: 22px 12px;
    color: #444;
    width: 100%;
    padding-left: 5px;
    margin-bottom: 15px;
    position: relative;
    left: -5px;
    font-size: 13px
}
.b4g-inline-manage .b4g-inline-date { font-weight: bold; }

.b4g-inline-part {
    margin: 0 15px 0 40px;
    padding: 15px 0;
    position: relative;
}
.b4g-inline-content { line-height: 1.7em; padding-right: 305px; }
.b4g-inline-controls { position: absolute; right: 0px; top: 50%; margin-top: -0.85em; }
.b4g-inline-controls .by-button { margin: 0; border-radius: 0px; }
.b4g-inline-controls .by-button:first-child { border-top-left-radius: 2px; border-bottom-left-radius: 2px; }
.b4g-inline-controls .by-button:last-child { border-top-right-radius: 2px; border-bottom-right-radius: 2px; }
.b4g-inline-controls .by-button .by-button-text { line-height: 1em; }


.b4g-inline-recurring .b4g-inline-controls { top: 15px; margin-top: 0; }
.b4g-inline-recurring-schedule { position: relative; margin-top: 15px; }
.b4g-inline-recurring-schedule::before {
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 13px;
    background: url("../inline-manage/recurring.png") center 0 no-repeat;
    background-size: 13px 13px;
    content: '';
}
.b4g-inline-recurring-schedule .b4g-inline-schedule-part { display: inline-block; width: 150px; }
.b4g-inline-recurring-schedule .b4g-inline-reschedule-next { width: 220px; }

.b4g-inline-manage .b4g-inline-return ~ .b4g-inline-part,
.b4g-inline-manage .b4g-inline-send ~ .b4g-inline-part,
.b4g-inline-manage .b4g-inline-recurring ~ .b4g-inline-part {
    border-top: 1px solid #D0D0D0;
}

.b4g-inline-tracking table { width: 100%; table-layout: fixed; border-spacing: 0; }
.b4g-inline-tracking table td { padding: 2px 0; }
.b4g-inline-tracking th, .b4g-tracking-time-title {
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
}
.b4g-inline-tracking th { text-align: left; color: #444; }

.b4g-inline-tracking-opens { padding-bottom: 8px; }
.b4g-inline-tracking-clicks { border-top: 1px solid #D0D0D0; padding-top: 8px; }
.b4g-inline-tracking-opens, .b4g-inline-tracking-clicks { position: relative; margin-left: 25px; }

.b4g-inline-tracking-opens::before,
.b4g-inline-tracking-clicks::before {
    background: url(../../tracking-sprite-sheet.png) no-repeat;
    position: absolute;
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    top: 1px;
    left: -23px;
}
.b4g-inline-tracking-opens::before { background-position: -68px center; }
.b4g-inline-tracking-opens.b4g-tracking-unopen::before { background-position: -38px center; }
.b4g-inline-tracking-clicks::before { top: 9px; background-position: -97px center; }
.b4g-inline-tracking-clicks.b4g-tracking-unclick::before { background-position: -127px center; }

.b4g-inline-tracking-opens.b4g-tracking-unopen td { visibility: hidden; }

.b4g-tracking-click-total { width: 25px; color: #1C850A; font-weight: bold; }
.b4g-trcking-click-url { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.b4g-tracking-first, .b4g-tracking-last { width: 210px; }
.b4g-tracking-hint-text
{ font-style: italic; font-size: 11px; color: #888; padding-top: 15px; }

.b4g-inline-notes {
    background: #FBF1B5;
    font-size: 12px;
    width: calc(100% + 5px);
    width: -moz-calc(100% + 5px);
    width: -webkit-calc(100% + 5px);
    padding: 5px 15px 5px 45px;
    margin: 0;
    position: relative;
    left: -5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.b4g-inline-notes .b4g-inline-notes-label { font-weight: bold; display: inline-block; }
.b4g-inline-notes .b4g-inline-notes-text { font-style: italic; font-weight: normal; }
.b4g-inline-notes button {
    color: #4B4AE9;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: underline;
    margin: 0 3px;
    font-size: inherit;
}
.b4g-inline-notes-edit {
    padding: 5px;
    background: #f7f7f7;
    border: 1px solid rgba(0,0,0,.2);
}

.b4g-reschedule-popup { background: #fff; border: 1px solid #ddd; width: 270px; }
.b4g-reschedule-popup h3 { background: #444; text-align: center; color: #fff; margin: 0; padding: 10px 0; }
.b4g-reschedule-popup form { padding: 20px 25px; }
.b4g-reschedule-popup .b4g-return-condition { width: 100%; margin-bottom: 20px; }

.b4g-reschedule-popup .b4g-send-ifnoreply { width: 100%; margin-bottom: 5px; }
.b4g-reschedule-popup .b4g-ifnoreply-warning { color: #666; font-style: italic; margin-bottom: 20px; }

.b4g-reschedule-popup .b4g-reschedule-example,
.b4g-reschedule-popup .b4g-reschedule-preview,
.b4g-reschedule-popup label { display: block; width: 100%; box-sizing: border-box; -moz-box-sizing: border-box; }

.b4g-reschedule-popup .b4g-reschedule-preview { margin-top: 5px; }
.b4g-reschedule-popup .b4g-reschedule-example { color: #666; font-style: italic; margin-bottom: 5px; }
.b4g-reschedule-popup label .b4g-reschedule-date { font-size: 1.1em; width: calc(100% - 28px); }
.b4g-reschedule-popup .b4g-ui-datepicker-trigger { margin-left: 5px; }
.b4g-ui-datepicker { z-index: 9999 !important; }

.b4g-reschedule-popup .b4g-reschedule-preview { color: green; }
.b4g-reschedule-popup .b4g-reschedule-preview.b4g-state-invalid { color: #f00; }

.b4g-reschedule-buttons { text-align: center; padding-top: 20px; }
.b4g-reschedule-buttons button { width: 105px; }
.b4g-reschedule-buttons button:last-child { margin-left: 5px; }

.b4g-recurring-confirmation { padding: 20px; }
.b4g-recurring-confirmation h3 { margin: 0 0 15px 0; }
.b4g-recurring-confirmation p { margin: 15px 0; }
.b4g-recurring-confirmation .b4g-recur-confirm-buttons { text-align: center; }
.b4g-recur-confirm-buttons button:last-child { margin-left: 5px; }

/* .ii.gt selects email content body in gmail */
.gt.ii .b4g-inline-pending-content {
    background-color: #e6e6e6;
    background-image: url("../inline-manage/pending-content-background.png");
    border: 5px solid #e6e6e6;
    padding: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: calc(100% + 5px);
    width: -moz-calc(100% + 5px);
    width: -webkit-calc(100% + 5px);
    position: relative;
    left: -5px;
    margin-top: -15px;
}

.b4g-edit-button-container { display: none; }
.b4g-inline-pending-content .b4g-edit-button-container { display: block; text-align: center; }

.b4g-state-edit-message .b4g-inline-controls,
.b4g-state-edit-message .b4g-inline-pending-content { display: none; }

.b4g-state-edit-message .b4g-inline-manage { margin-bottom: 0; }

/* all gmail tooltips
 * built-in tooltips are one line, so this should only affect custom multi-line tooltips. */
.T-ays {
    text-align: center;
}
.gU.Up.respondable-cell { /* Edit view Respondable */
    padding-left: 9px;
}
/* Compose window overflow logic */
.b4g-narrow .boomerangSendWidget label:after {
    background: url("../respondable/blueboomerang.png") no-repeat;
    content: "";
    display: inline-block;
    margin: -1px 5px;
    width: 20px;
    height: 10px;
}
.b4g-narrow .boomerangSendWidget label > span {
    display: none;
}
.b4g-narrow-sm .em-email-meter-gauge {
    width: 80px;
}
.b4g-narrow-sm .em-email-meter-gauge h1 {
    background-position-x: 50%;
    height: 11px;
}
.b4g-narrow-sm .em-email-meter-gauge h1 > span {
    visibility: hidden;
}
.b4g-narrow-sm .email-meter-display:after {
    left: initial;
    right: 38px;
}
.b4g-narrow-sm .conditional-caption-text .by-text,
.b4g-narrow-sm .conditional-caption-arrow {
    display: none;
}
.b4g-narrow-sm .boomerangSendCondition {
    background: none !important;
    padding-right: 0 !important;
}
.email-meter-display-inner {
    height: 100%;
}
.em-short .email-meter-display-inner {
    overflow-y: auto;
    overflow-x: hidden;
}
.em-short.email-meter-display {
    height: calc(100% - 50px);
    width: 150px;
}

/* Respondable */

/* B4G Respondable Only */

/* Detail dialog override */
.em-meter.em-detail {
    cursor: default;
    height: 18px;
    margin: 30px 0 41px 0;
}
.em-disabled .em-meter.em-detail {
    margin-bottom: 21px;
}
.em-meter.em-detail .indicator-container {
    top: -12px;
}
.em-meter.em-detail .indicator {
    border-radius: 6px;
    box-sizing: border-box;
    height: 24px;
    padding: 0 7px;
}
.em-meter.em-detail .indicator:after {
    border-width: 4px;
    margin-left: -4px;
}
.em-meter.em-detail .indicator:before { /* indicator arrows */
    border-width: 6px;
    margin-left: -6px;
}
.em-meter.em-detail .indicator-text {
    font-size: 18px;
    line-height: 20px;
}
.em-slider-dialog button {
    background: #F2F2F2;
    border: 1px solid #CCC;
    border-radius: 2px;
    font: bold 12px "Lato", Helvetica, Arial, sans-serif;
    outline: 0;
    padding: 5px 25px;
}
.em-slider-dialog button:hover {
    background: linear-gradient(-180deg, #F7F7F7 0%, #F1F1F1 100%);
}
.em-email-meter-gauge:hover {
    background: linear-gradient(-180deg, #FEFEFE  0%, #F7F7F7  100%);
}
.em-slider-dialog button:active, .em-email-meter-gauge:active, .em-open .em-email-meter-gauge {
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.2);
    background: linear-gradient(-180deg, #EEEEEE 0%, #E0E0E0 100%);
}
.em-overlay {
    background: #333;
    opacity: 0.3;
    width: 100%;
}
.em-overlay-ftue {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    z-index: 5;
}
.aSt .em-overlay-ftue {
    padding-bottom: 40px;
}

/* Ftue */
.em-step-container {
    position: absolute;
    top: 0;
    width: 320px;
    z-index: 2000;
    padding-right: 15px;
}
.em-step-container.em-center {
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 130px; /* width of the expanded respondable window */
    transform: translate(-50%, -50%);
    width: 370px;
}
.em-short .em-center {
    padding-right: 150px;
}
.em-step {
    color: #FFF;
    float: left;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    padding: 15px;
    text-align: center;
}
.em-step h1 {
    font-size: 28px;
}
.em-step p {
    font-size: 18px;
}
.em-pointer-arrow .em-step, .em-pointer-arrow .em-step p {
    padding-right: 40px;
}
.em-pointer-bracket {
    width: 370px;
}
.em-pointer-bracket .em-step {
    padding-top: 36px; /* Bump down by approx height of the button bar */
    width: 320px;
}
.em-button-bar {
    margin: 40px 0;
}
.em-button-bar .em-btn {
    color: #999;
    font-size: 12px;
    margin: 20px;
    text-transform: uppercase;
    cursor: pointer;
}
.em-button-bar .em-btn-primary {
    color: #FFF;
    font-weight: 700;
}
.em-button-bar .em-btn-aside {
    display: block;
    margin: 40px 0;
    font-style: italic;
    text-transform: none;
}
.email-meter-display.em-ftue {
    z-index: 10;
}
.em-ftue .em-overlay {
    display: none;
}
.em-ftue .em-ftue-overlay {
    z-index: 20;
}
.em-short .em-step {
    width: 280px;
}
.em-short .em-center .em-step {
    float: none;
    margin: auto;
}
.b4g-narrow p {
    font-size: 16px;
}
.em-pointer {
    float: right;
}
.em-pointer-bracket .em-step {
    float: right;
}
.b4g-narrow .em-pointer-arrow .em-step,
.b4g-narrow .em-pointer-bracket .em-step {
    float: right;
    width: 220px;
}
.em-bracket {
    border-left: 3px solid #FFF;
    border-top: 3px solid #FFF;
    border-bottom: 3px solid #FFF;
    float: right;
    position: relative;
    width: 10px;
}
.em-bracket:after {
    border-bottom: 3px solid #FFF;
    content: "";
    width: 15px;
    position: absolute;
    top: 50%;
    transform: translateX(-100%);
}
.em-pointer-arrow p {
    background: url("../respondable/arrow.png") no-repeat 100% center;
    content: "";
    height: 100%;
    width: 100%;
}

/* FTUE - decrease opacity of non-focused elements */
.ftue-highlight-grade .email-meter-display-inner > *:not(.em-grade-container),

.ftue-highlight-meters .email-meter-display-inner > *:not(.email-meters-container),
.ftue-highlight-meters .em-locked,

.ftue-highlight-one-meter .email-meter-display-inner > *:not(.email-meters-container),
.ftue-highlight-one-meter .email-meters > *:not(.email_meter_flesch_kincaid),

.ftue-highlight-premium .email-meter-display-inner > *:not(.email-meters-container),
.ftue-highlight-premium .email-meters:first-child  {
    opacity: 0.1;
}

/* corrections for specific FTUE steps */
.em-step-container.ftue-highlight-one-meter {
    margin-right: 10px;
}
.em-step-container.ftue-dialog {
    padding-right: 0;
}
.ftue-dialog .em-button-bar {
    margin: 0;
    text-align: right;
}
.respondable-non-english {
    padding: 12px 18px;
    line-height: 5px;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url("../font/lato-bold.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url("../font/lato-normal.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/* Shared Respondable Styles */

.email-meter-display {
    background: #FFF;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid #D5D5D5;
    color: #444;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    margin-bottom: 10px;
    width: 130px;
    position: absolute;
    right: 10px;
    bottom: 50px;
    z-index: 3; }
.email-meter-display:after {
    content: "";
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    bottom: -6px;
    left: 57px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent #FFF #FFF transparent; }
.email-meter-display header {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    margin: 10px;
    text-align: center;
}
.email-meter-display h1, .email-meter-display h2 {
    margin: 0;
}
.email-meter-display h1 {
    font-weight: 700;
    font-size: 14px;
}
.email-meter-display h2 {
    font-weight: normal;
    font-size: 13px;
}
.email-meter-display-inner > h1, .email-meter-display-inner > h2 {
    text-align: center; }

.em-grade-container {
    width: calc(100% + 2px);
    margin-left: -1px;
}
.em-respondable-grade {
    background: #888888;
    color: #FFF;
    font-weight: normal;
    font-size: 11px;
    text-align: center;
    padding: 7px;
    transition: background 0.5s linear; }
.em-status-0 span {
    display: none;
}
.em-status-0 {
    line-height: 30px;
}
.em-respondable-grade.em-status-1 {
    background: #E24D00;
}
.em-respondable-grade.em-status-2 {
    background: #F78307;
}
.em-respondable-grade.em-status-3 {
    background: #80C437;
}
.em-respondable-grade.em-status-4 {
    background: #26ac4f;
}
.em-respondable-grade strong {
    display: block;
    font-size: 14px;
    font-weight: normal; }

.email-meters {
    padding: 0 10px 10px 10px; }
.email-meters:last-of-type {
    padding-bottom: 20px;
}
.em-locked > h1 {
    color: #444;
    font: 400 10px "Lato", Helvetica, Arial, sans-serif;
    margin: 10px 0 0 0;
    text-transform: uppercase;
}
.em-upgrade-link {
    cursor: pointer;
    text-decoration: underline;
    color: #1F90E7;
    display: block;
    font: 700 11px "Lato", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 5px 0 15px 0; }
.em-error-msg {
    color: #666;
    font: bold 11px "Lato", Helvetica, Arial, sans-serif;
    font-style: italic;
    margin: 0 10px 10px 10px;
    text-align: center;
}

.meters-container {
    color: #444;
    padding: 10px; }

.email-meter-wrapper > h1, .email-meter-wrapper > h2 {
    text-align: center; }
.email-meter-wrapper h1 {
    font-size: 14px;
    margin-bottom: 5px; }
.email-meter-wrapper h2 {
    margin-top: 0;
    font-size: 8px;
    font-weight: normal;
    color: #999; }

.email-meter-shadow {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3; }

.em-meter {
    height: 9px;
    cursor: pointer;
    position: relative; }
.em-meter > span {
    color: #444;
    display: block;
    font: bold 8px "Lato", Helvetica, Arial, sans-serif;
    text-align: center; }

.meter-background {
    background: #DDD;
    background: linear-gradient(to right, #F0EA4D 0%, #C7DC5F 25%, #7AC483 50%, #C7DC5F 75%, #F0EA4D);
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: opacity ease-in-out 0.5s;
}

.indicator .indicator-text {
    color: #666;
    font-size: 11px;
    font-weight: bold;
    display: block;
    line-height: 14px;
    text-align: center;
    width: 100%;
    z-index: 3;
}
.indicator-link:hover {
    text-decoration: underline;
}

/* Slider indicators */
.indicator-container {
    display: inline-block;
    height: auto;
    line-height: 0;
    position: absolute;
    top: -13px;
    transition: left 0.5s ease-in-out;
    z-index: 1000;
}
.indicator { /* TODO: namespace */
    height: 14px;
    background: #ffffff;
    border: 2px solid #E24D00; /* red */
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
    display: inline-block;
    padding: 0 4px;
    position: relative;
    transition: left 0.5s ease-in-out;
    z-index: 100;
}
.indicator.em-indicator-color-1 {
    border-color: #F78307;
}
.indicator.em-indicator-color-2 {
    border-color: #80C437;
}
.indicator.em-indicator-color-3 {
    border-color: #00A50E;
}
.em-neutral-value .indicator-container .indicator,
.email-meter-display:not(.em-ftue) .em-is-reply .indicator {
    border-color: #999;
}
.indicator:after, .indicator:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    z-index: 10;
}
.indicator:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 3px;
    margin-left: -3px;
}
.indicator:before { /* indicator arrows */
    border-color: rgba(245, 0, 0, 0);
    border-top-color: #E24D00;
    border-width: 5px;
    margin-left: -5px;
}
.em-indicator-color-1.indicator:before {
    border-top-color: #F78307;
}
.em-indicator-color-2.indicator:before {
    border-top-color: #62CC31;
}
.em-indicator-color-3.indicator:before {
    border-top-color: #00A50E;
}
.em-neutral-value .indicator-container .indicator:before,
.email-meter-display:not(.em-ftue) .em-is-reply .indicator:before {
    border-top-color: #999;
}
.indicator-shadow {
    box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, 0.4);
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -6px;
    bottom: -5px;
    left: 50%;
    box-sizing: border-box;

    border: 4px solid red;
    border-color: rgba(0,0,0,0.4);

    transform-origin: 0 0;
    transform: rotate(-45deg);
    transition: left 0.5s ease-in-out;

    z-index: 10;
}

.em-info {
    opacity: 0.6;
}
.meter-container h1 {
    font: bold 11px "Lato", Helvetica, Arial, sans-serif;
    margin: 10px 0 16px 0;
    position: relative; }
.meter-container h1 .em-info {
    background: url("../respondable/respondable-questionmark.png") no-repeat;
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0 0 -3px 5px; }
.meter-container h1 .em-info:hover {
    opacity: 1;
    cursor: pointer;
}

.meter-container.em-upgrade-needed .em-meter:after {
    content: "";
    display: block;
    background-image: url("../respondable/lock-icon.png");
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-25%, -25%); }

.em-disabled .meter-background {
    opacity: 0.2; }
.em-disabled .em-detail .meter-background,
.em-is-reply .meter-background {
    opacity: 0.4;
}
.em-disabled .em-detail .indicator-container {
    left: 50% !important;
    transform: translate(-50%);
}
.em-disabled .em-detail .indicator {
    background: #5294F3;
    border-color: #5294F3;
}
.em-disabled .em-detail .indicator-text {
    color: #FFF;
    font-size: 13px;
    font-weight: normal;
}
.em-disabled .em-detail .indicator:before, .em-disabled .em-detail .indicator:after {
    border-top-color: #5294F3;
}

.em-email-meter-gauge {
    background: #f5f5f5;
    border: 1px solid #CCC;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 0 0;
    height: 32px;
    width: 150px;
    padding: 4px;
    cursor: default;
    position: absolute;
    right: 5px;
    bottom: 5px; }
.em-email-meter-gauge h1 {
    background: url("../respondable/respondable-boomerang.png") no-repeat;
    background-position: 3px 2px;
    color: #888;
    font: normal 9px "Lato", Helvetica, Arial, sans-serif;
    padding: 0 0 3px 22px;
    position: relative;
    margin: 0; }
.em-email-meter-gauge .em-info {
    position: absolute;
    top: -1px;
    right: 0; }

.email-meter-widget {
    position: relative;
}

.em-segments {
    background: #FFF;
    height: 100%; }

.em-segment {
    border-right: 1px solid #f5f5f5;
    box-sizing: border-box;
    float: left;
    height: 100%; }
.em-segment > div {
    background: border-box #00A50E;
    background-clip: border-box;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    height: 100%;
    width: 100%;
    opacity: 0.2;
    transition: all 1s ease-in-out; }

.em-segment-on > div {
    opacity: 1; }

.em-segment:first-child, .em-segment:first-child > div {
    border-radius: 2px 0 0 2px; }

.em-segment:last-child, .em-segment:last-child > div {
    border-radius: 0 2px 2px 0;
    border: 0; }

.em-dialog {
    background: #FFF;
    border: 1px solid #EAEAEA;
    color: #444;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    padding: 15px;
    min-width: 400px;
    max-width: 100%;
    z-index: 1001;
}
.em-dialog h1, .em-dialog h2 {
    font-weight: 700;
}
.em-dialog h1, .em-dialog h2 {
    font-size: 11px;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}
.em-dialog h1 {
    color: #444;
}
.em-dialog h2, .em-dialog h2 + p {
    color: #999;
}
.em-dialog p {
    font-size: 13px;
    line-height: 1.4;
    margin: 6px 0 15px 0;
}
.em-close {
    color: #999;
    cursor: pointer;
    float: right;
    line-height: 12px;
    font-size: 20px;
}
.em-dialog-inset {
    border: 1px solid #EAEAEA;
    padding: 15px;
    margin: 15px 0;
}
.em-dialog-inset strong {
    display: block;
    padding-bottom: 15px;
}
.em-dialog label {
    padding-left: 5px;
}
.em-dialog .b4g-button {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    margin: 5px;
}
/* slider dialog */
.em-slider-dialog {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) perspective(1px);
    min-width: 350px;
    width: 350px;
    z-index: 2500;
}
.em-slider-dialog h1 {
    color: #999;
}
.em-slider-dialog h2 {
    color: #444;
    font-size: 18px;
    margin: 0 0 5px 0;
    text-transform: none;
}
.em-slider-dialog p {
    margin-bottom: 20px;
}
.em-slider-dialog button:hover {
    cursor: pointer;
}
.em-optimal {
    color: #444;
    height: 95%;
    text-align: center;
    position: absolute;
    top: 0;
}
.em-optimal-label {
    border-top: 1px solid #444;
    height: 4px;
    width: 98%;
    font: normal 13px "Lato", Helvetica, Arial, sans-serif;
    padding: 4px 0;
    position: absolute;
      bottom: -20px;
    transform: translate(1%, 0);
    white-space: nowrap;
}
.em-optimal-label:after {
    border: 1px solid #444;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 6px;
    border-width: 0 1px;
    position: absolute;
    top: -3px;
    width: 100%;
}
.em-tooltip {
    background: #2a2a2a;
    color: #FFF;
    border: 1px solid #FFF;
    font: bold 11.2px Arial, sans-serif;
    padding: 7px 9px;
}
.em-tooltip.hidden {
    display: none;
    position: absolute;
}
.low-word-count-dialog .em-optimal-label {
    max-width: 90%;
}

/* Inbox Pause */
#ibp-main {
    height: 29px;
    vertical-align: top;
}

#ibp-main, .ibp-submit-pause {
    background: -moz-linear-gradient(top, #4D90FE, #4787ED); /* FF 3.6+ */
    background: -webkit-linear-gradient(top, #4D90FE, #4787ED); /* Chrome 10+,Safari 5.1+ */
    background: -o-linear-gradient(top, #4D90FE, #4787ED); /* Opera1 1.10+ */
    background: linear-gradient(top, #4D90FE, #4787ED); /* W3C */
    border: 1px solid #3079ED;
    border-radius: 2px;
    padding-left: 3px;
    padding-right: 3px;
    width: 85px;
    position: relative;
    margin-right: 0;
    cursor: pointer;
    z-index: 5;
}

#ibp-main:hover, .ibp-submit-pause:hover {
    background: -moz-linear-gradient(top, #4d90fe, #357ae8); /* FF 3.6+ */
    background: -webkit-linear-gradient(top, #4d90fe, #357ae8); /* Chrome 10+,Safari 5.1+ */
    background: -o-linear-gradient(top, #4d90fe, #357ae8); /* Opera1 1.10+ */
    background: linear-gradient(top, #4d90fe, #357ae8); /* W3C */
    border: 1px solid #2f5bb7;
    border-radius: 2px;
}

#ibp-main:active, .ibp-submit-pause:active {
    background: #357AE8;
    border: 1px solid #2F5BB7;
    box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.30);
    border-radius: 2px;
}

.ibp-main-button-logo {
    vertical-align: middle;
    padding-right: 5px;
    max-width: 19px;
}

.ibp-main-button-show-spinner-hide-logo .ibp-main-button-logo {
    display: none;
}

.ibp-main-button-spinner {
    display: none;
    vertical-align: middle;
    max-width: 15px;
}

.ibp-main-button-show-spinner-hide-logo .ibp-main-button-spinner {
    display: inline-block;
}

#ibp-main, .ibp-submit-pause {
    background-color: #4683ea;
    border-color: transparent;
    color: white;
}

.ibp-menu {
    font-family: Arial, sans-serif;
    font-size: 12px;
    width: 650px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    padding: 18px 0px 18px 0px;
}

.ibp-menu-header {
    display: block;
    font-weight: bold;
    padding: 0px 18px 18px 18px;
}

.ibp-menu-header-signature {
    font-weight: normal;
    color: #999;
}

.ibp-menu-tooltip {
    text-align: left;
    font-weight: bold;
    line-height: 1.3em;
}

.ibp-menu-main {
    display: inline-block;
    min-height: 270px;
    width: 100%;
    padding: 0px 18px 0px 18px;
}

.ibp-menu-main-left {
    float: left;
    height: 100%;
    width: 50%;
}

.ibp-menu-main-right {
    float: right;
    height: 100%;
    width: 50%;
}

.ibp-menu-item {
    display: inline-block;
    padding: 0px 36px 18px 0px;
    color: #333;
}
.ibp-menu-item:first-child { padding-top: 18px; }
.ibp-menu-item-body {
    display: inline;
    float: right;
}
.ibp-menu-item-body-title {
    font-weight: bold;
    cursor: pointer;
}
.ibp-menu-item-body-detail {
    padding: 12px 0px 12px 0px;
    font-size: 11px;
    color: #333;
}
.ibp-menu-item-body-detail input[type=text], textarea[type=text] {
    padding-left: 5px;
}

.ibp-paywall-link {
    font-size: 11px;
    color: #0077CC;
}

.ibp-paywall-link-container {
    margin-top: 12px;
}

.ibp-autoresponder-input {
    list-style-type: none;
    display: none; 
}

.ibp-autoresponder-subject {
    font-size: 12px;
    border: 1px solid #EEEEEE;
    width: 195px;
}

.ibp-autoresponder-body {
    height: 60px;
    width: 100%;
    outline: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.ibp-autoresponder-body-container {
    height: 100px;
    width: 238px;  /* Width = 250px including border + padding */
    font-size: 12px;
    margin-top: 5px;
    border: 1px solid #EEEEEE;
    padding: 5px;
}

.ibp-viral-hook-close-button {
    position: relative;
    float: right;
}

.ibp-viral-hook-close-button-image {
    height: 8px;
    width: 8px;
    opacity: 0.5;
}

.ibp-viral-hook-close-button-image.ibp-can-remove-hook:hover {
    opacity: 1;
}

.ibp-viral-hook-tooltip-element {
    position: absolute;
}

.ibp-viral-hook-tooltip-arrow {
    left: 50%;
    right: 50%;
}

.ibp-viral-hook-close-tooltip {
    font-size: 12px;
}

.ibp-viral-hook-close-tooltip a {
    color: #24A2F4;
}

.ibp-menu-item-delivery-exceptions-body {
    width: 250px;
}

.ibp-delivery-exceptions-input {
    list-style-type: none;
    display: none;
    font-size: 11px;
    color: #333;
}

.ibp-delivery-exceptions-item {
    width: 100%;
    float: left;
    padding-top:12px;
}

.ibp-delivery-exceptions-textarea {
    float: right;
    resize: none;
    font-size: 12px;
    border: 1px solid #EEEEEE;
}

.ibp-periodic-unpause-body {
    width: 250px;
}

.ibp-periodic-unpause-input {
    list-style-type: none;
    display: none;
}
.ibp-periodic-unpause-input input, .ibp-periodic-unpause-input label span {
    vertical-align: middle;
}

.ibp-periodic-unpause-time {
    padding-top: 8px;
}

.ibp-periodic-unpause-time > input {
    font-size: 12px;
    width: 75px;
    margin-right: 6px;
    border: 1px solid #EEEEEE;
}

.ibp-periodic-unpause-time > select {
    font-size: 12px;
    width: 60px;
    height: 19px;
    border: 1px solid #EEEEEE;
    background-color: #fff;
    margin-right: 6px;
}

.ibp-periodic-unpause-time:first-of-type > span {
    display: none;
}

.ibp-periodic-unpause-am-pm-select-container{
    padding-right: 6px;
}

.ibp-periodic-unpause-am-pm-select {
    /* !important styles are needed to override the G-asx class's styling */
    width: 45px !important;
    font-size: 12px !important;
    background-position: 90% 50% !important;
    height: 18px !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: initial;
    border: 1px solid #EEEEEE;
    padding-left: 5px;
    margin-top: 0px !important;
    margin-left: 0px !important;
}

.ibp-remove-periodic-button-image {
    height: 8px;
    width: 8px;
    opacity: 0.5;
}

.ibp-remove-periodic-button-image:hover {
    opacity: 1;
}

.ibp-menu-divider {
    border-top-style: solid;
    border-width: 1px;
    border-color: #EAEAEA;
}

.ibp-menu-footer { padding: 0px 18px 0px 18px; }
.ibp-menu-footer-button-group {
    float: right;
    padding-top: 18px;
}
.ibp-menu-footer-button-group > * {
    margin-left: 5px;
    margin-right: 5px;
}
.ibp-menu-footer-option {
    float: left;
    padding-top: 27px;
    position: relative;
}

.ibp-unpause-automatically {
    top: 23px;
    width: 600px;
    position: absolute;
}

.ibp-auto-unpause-caption-arrow {
    opacity: 1 !important; /* override Gmail class */
}

.ibp-menu-button {
    height: 30px;
    width: 72px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.ibp-periodic-unpause-add {
    display: block;
    margin-top: 8px;
    width: 80px;
    height: 24px;
    font-size: 11px;
}

.ibp-tooltip-icon {
    cursor: pointer;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    padding-left: 10px;
}

.ibp-inboxpauseprogress {
    background: white;
    width: 220px;
    text-align: center;
    padding: 15px;
}

.ibp-inboxpauseprogress-message {
    font-size: 14px;
    padding-bottom: 15px;
}

.ibp_notification_bar {
    padding: 10px;
    color: #222;
    background: #FFF1A8;
    border: 1px solid #CCC;
    text-align: center;
}

.ibp-keep-paused {
    width: 155px; !important
}

.ibp-ftue-tooltip {
    position: absolute;
    width: 200px;
    z-index: 10 !important;
}

.ibp-ftue-tooltip-text {
    text-align: center;
    font-weight: bold;
    line-height: 1.3em;
    font-size: 11px;
}

.ibp-ftue-tooltip-close {
    color: #9ca4ab;
    cursor: pointer;
}

.ibp-ftue-tooltip-continue {
    cursor: pointer;
}

/* Rounded Toggle Switch classes */
.b4g-toggle-switch {
    float: left;
    position: relative;
    display: inline-block;
    width: 24px;
    height: 14px;
    margin-right: 12px;
}
.b4g-toggle-switch input { display:none; } /* Hide default HTML checkbox */
.b4g-toggle-slider { /* The slider that does the sliding on toggle */
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 14px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.b4g-toggle-slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 1px;
    bottom: 1px;
    border-radius: 50%;
    background-color: white;
}
input:checked + .b4g-toggle-slider { background-color: #4D90FE; }
input:focus + .b4g-toggle-slider { box-shadow: 0 0 1px #4D90FE; }
input:checked + .b4g-toggle-slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}
.b4g-toggle-slider.b4g-toggle-slider-disabled {
    cursor: default;
}
.b4g-toggle-slider.b4g-toggle-slider-disabled:before {
    background-image: url(https://s3.amazonaws.com/BoomerangForGmail/bookmarklet/b4g_ibp_paywall_lock.png);
    background-size: 7px 9px;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    transition: none;
}

/******************* IBP FTUE *********************/

 #ibp-ftue-screen{
  font-family:helvetica, arial, sans-serif;
  color: #333;
  color: #333;
  display: flex;
  font-family: Lato, helvetica, arial, sans-serif;
  position: absolute;
    top: 0;
    left: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}
.ibp-ftue-content-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 10;
    /* Safari flexbox fix: stackoverflow.com/questions/18271460 */
    -webkit-transform: translate3d(0,0,0);
}
.ibp-overlay-bg {
    background: #000;
    z-index: 6;
    width: 100%;
    opacity: 0.85;
}

.ibp-ftue-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ibp-ftue-content-main {
    height: 513px;
    width: 649px;
    background: #ffffff;
    position: relative;
}

.ibp-ftue-main-image {
    height: 513px;
    width: 649px;
    position: absolute;
}

.ibp-ftue-content-overlay {
    opacity: 0.7;
    position: absolute;
}

/* IBP FTUE Overlay screens */
.ibp-ftue-overlay-1 {
    width: 195px;
    height: 26px;
    border-top: 15px solid #000;
    border-left: 15px solid #000;
    border-bottom: 474px solid #000;
    border-right: 440px solid #000;
}

.ibp-ftue-overlay-2 {
    width: 278px;
    height: 172px;
    border-top: 65px solid #000;
    border-left: 15px solid #000;
    border-bottom: 278px solid #000;
    border-right: 357px solid #000;
}
.ibp-ftue-overlay-3 {
    width: 278px;
    height: 190px;
    border-top: 248px solid #000;
    border-left: 15px solid #000;
    border-bottom: 77px solid #000;
    border-right: 357px solid #000;
}
.ibp-ftue-overlay-4 {
    width: 315px;
    height: 200px;
    border-top: 101px solid #000;
    border-left: 315px solid #000;
    border-bottom: 214px solid #000;
    border-right: 20px solid #000;
}

.ibp-ftue-arrow-image {
    height: 22px;
    width: auto;
    padding-bottom: 71px;
    margin-right: 15px;
    margin-left: 15px;
    float: left;
}

/* IBP FTUE Arrow/Text screens */
.ibp-ftue-text-container {
    font-size: 18px;
    font: lato;
    color: white;
    font-weight: bold;
    position: absolute;
}

.ibp-ftue-text-container-1 { padding: 16px 0px 0px 215px; }
.ibp-ftue-text-1 {
    float: right;
    width: 300px;
}

.ibp-ftue-text-container-2 { padding: 92px 0px 0px 302px; }
.ibp-ftue-text-2 {
    float: right;
    width: 175px;
}

.ibp-ftue-text-container-3 { padding: 314px 0px 0px 302px; }
.ibp-ftue-text-3 {
    float: right;
    width: 175px;
}

.ibp-ftue-text-container-4 { padding: 120px 0px 0px 90px; }
.ibp-ftue-text-4 {
    float: left;
    text-align: right;
    width: 150px;
}

.ibp-ftue-faq {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 1.3;
}

/* IBP FTUE Buttons */
.ibp-ftue-content-buttons {
    margin-top: 20px;
    margin-right: 10px;
    float: right;
}

.ftue-btn {
    background: transparent;
    border: 0;
    font-family: Lato, Helvetica, Arial, sans-serif;
    border-radius: 3px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    outline: none;
    padding: 8px 20px;
    margin: 0 5px;
}
.ftue-btn:enabled {
    cursor: pointer;
}
.ftue-btn.by-button-primary {
    background: #5188f3;
    border: 1px solid transparent;
    color: #FFF;
    transition: background linear 0.3s;
}
.ftue-btn.by-button-secondary {
    background: #F5F5F5;
    color: #444444;
    border: 1px solid transparent;
    transition: background linear 0.3s;
}
.ftue-btn.by-button-link {
    color: #999;
    border-color: #999;
    padding-left: 0;
}

.auth-reload {
    text-decoration: underline;
    cursor: pointer;
}

/* fix hover on calendar B4G-1036 */
.b4g-ui-datepicker td a {
    cursor: pointer;
}
