img.smimage{
	width:200px;
	height:220px;
}


img.witches {
    margin: 40px;
}

img.witches:hover {
    margin-top: 200px;
    transition: margin 1s;
}
.hero {
  background: #BA2732;
  color: white;
  padding: 40px;
}
#sub3{
display: none;
}
#sub4{
display: none;
}
#sub5{
display: none;
}
#sub6{
display: none;
}